ArcManagedFBX.opensdf
ArcManagedFBX.sdf
Bin/
Output/
ArcManagedFBX/obj/*
ArcManagedFBX/bin/*
ArcManagedFBX.Shared/obj/*
ArcManagedFBX.Shared/bin/*
ArcManagedFBXTest/obj/*
ArcManagedFBXTest/bin/*
ipch/
/*.opensdf
/*.exe
/*.obj
/*.v11.suo
/*.suo
Libs/FBX/lib/